<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- title begins-->
    <title>登月钢构|流水发货总账</title>
    <!-- title ends-->

    <!-- page specific plugin styles begins -->
    <hcss>
        <!-- 使表格自动换行-->
        <style>
            .dynamic-table tr td {
                /*white-space: normal !important;*/
                height: auto;
            }
        </style>
    </hcss>
    <!-- page specific plugin styles ends-->

    <!-- header specific plugin javascript begins-->
    <hjs>

    </hjs>
    <!-- header specific plugin javascript ends-->
</head>
<body>

<!-- BREADCRUMBS BEGINS -->
<bc>
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">账户明细</a>
            </li>
            <li class="active">农商行（公账）</li>
        </ul><!-- /.breadcrumb -->
    </div>
</bc>
<!-- BREADCRUMBS ENDS -->

<!-- PAGE CONTENT BEGINS -->
<pc>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-header">
                            账户明细-苏州农村商业银行（公账）
                        </div>
                        <!-- div.table-responsive -->

                        <!-- div.dataTables_borderWrap -->
                        <div>
                            <table id="szrcb-details-table"
                                   class="table table-striped table-bordered table-hover"></table>
                        </div>
                    </div>
                </div>

                <div id="modal-table" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header no-padding">
                                <div class="table-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <span class="white">&times;</span>
                                    </button>
                                    客户流水发货总览
                                </div>
                            </div>

                            <div class="modal-body no-padding">
                                <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                    <thead>
                                    <tr>
                                        <th>凭据编号</th>
                                        <th>日期</th>
                                        <th>类别</th>
                                        <th>货主</th>
                                        <th>摘要</th>
                                        <th>发货金额</th>
                                        <th>备注</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>0000001</td>
                                        <td>2019/01/01</td>
                                        <td>客户</td>
                                        <td>赵振</td>
                                        <td>集装箱*3个</td>
                                        <td>10000.00</td>
                                        <td>无</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="modal-footer no-margin-top">
                                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                    <i class="ace-icon fa fa-times"></i>
                                    Close
                                </button>

                                <ul class="pagination pull-right no-margin">
                                    <li class="prev disabled">
                                        <a href="#">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>

                                    <li>
                                        <a href="#">2</a>
                                    </li>

                                    <li>
                                        <a href="#">3</a>
                                    </li>

                                    <li class="next">
                                        <a href="#">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</pc>
<!-- PAGE CONTENT ENDS -->

<!-- body page specific plugin scripts BEGINS-->
<bjs>
    <!-- page specific plugin scripts -->
    <script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/js/jquery.dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/custom/js/dataTables-constant.js}"></script>
    <script th:src="@{/assets/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/js/buttons.flash.min.js}"></script>
    <script th:src="@{/assets/js/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/js/buttons.print.min.js}"></script>
    <script th:src="@{/assets/js/buttons.colVis.min.js}"></script>
    <script th:src="@{/assets/js/dataTables.select.min.js}"></script>

    <!-- inline scripts related to this page -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        $("#szrcb-details-table").dataTable($.extend(true, {}, CONSTANT.DATA_TABLES.DEFAULT_OPTION, {
            "ajax": function (data, callback, settings) {
                const pageSize = data.length;
                const page = data.start / data.length + 1;
                $.ajax({
                    type: "GET",
                    url:/*[[@{/details}]]*/ "",
                    data: {
                        page: page,
                        pageSize: pageSize
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 70001) {
                            callback({
                                recordsTotal: result.data.total,
                                recordsFiltered: result.data.total,
                                data: result.data.content
                            });
                        }
                    }
                });
            },
            "columns": [
                {"data": "documentSeq", "title": "本数", "width": "45px"},
                {"data": "documentNo", "title": "编号", "width": "80px"},
                {"data": "documentDate", "title": "日期", "width": "100px"},
                {"data": "category.name", "title": "类别", "width": "50px"},
                {"data": "user.name", "title": "用户", "width": "80px"},
                {"data": "content", "title": "摘要", "width": "250px"},
                {
                    "data": "income", "title": "收入", "width": "90px",
                    "render": function (data, type, row) {
                        if (type === "display" || type === "filter") {
                            if (data === 0) {
                                return "";
                            } else {
                                return data.toFixed(2);
                            }
                        }
                    }
                },
                {
                    "data": "expense", "title": "支出", "width": "90px",
                    "render": function (data, type, row) {
                        if (type === "display" || type === "filter") {
                            if (data === 0) {
                                return "";
                            } else {
                                return data.toFixed(2);
                            }
                        }
                    }
                },
                {"data": "counterpartyInformation", "title": "对方信息", "width": "250px"},
                {"data": "paymentType.name", "title": "付款信息", "width": "100px"},
                {"data": null, "title": "操作", "width": "100px"},
            ],
            "columnDefs": [
                {
                    "targets": 10,
                    "render": function (data, type, row, meta) {
                        uri = /*[[@{/details}]]*/ "";

                        return '<div class="hidden-sm hidden-xs action-buttons">\n' +
                            '<a class="blue" href="javascript:void(0);"  onclick="query(' + data.id + ')">' +
                            '<i class="ace-icon fa fa-search-plus bigger-130"></i>' +
                            '</a>' +
                            '<a class="green" href="javascript:void(0);">' +
                            '<i class="ace-icon fa fa-pencil bigger-130"></i>' +
                            '</a>' +
                            '<a class="red" href="javascript:void(0);">' +
                            '<i class="ace-icon fa fa-trash-o bigger-130"></i>' +
                            '</a>' +
                            '</div>';
                    }
                }
            ]
        }));

        function query(id) {
            $.ajax({
                url: (/*[[@{/details}]]*/ "") + "/" + id,
                type: 'GET',
                dataType: 'JSON',
                success: function (result) {
                    if (result.code === 70001) {
                        $('#query-or-edit-details-modal').modal();
                        data = result.data;
                        $('#documentSeq').val(data.documentSeq);
                        $('#documentNo').val(data.documentNo);
                        $('#documentDate').val(data.documentDate);
                        $('#content').val(data.content);
                        $('#income').val(data.income);
                        $('#expense').val(data.expense);
                        $('#counterpartyInformation').val(data.counterpartyInformation);
                        $('#remark').val(data.remark);
                        $('#category').val(data.category.name);
                        $('#user').val(data.user.name);
                        $('#paymentType').val(data.paymentType.name);
                        console.log(result.data);
                    }
                }
            });

        };
        /*]]>*/
    </script>
</bjs>
<!-- body page specific plugin scripts ENDS-->
</body>

</html>